<a href="https://colab.research.google.com/github/student-rabbit/advancedDataPractice/blob/main/python_code_Day01_night.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### while

In [ ]:
i = 0
while i <10:
  print(i)
  i += 1

print('end while')

0
1
2
3
4
5
6
7
8
9
end while

In [ ]:
i = 0
while i <10:
  print(i)
  i += 1

  if i == 5:
    print('break')
    break # 반복 블록 안에서 반복 실행을 강제로 탈출

print('end while')

0
1
2
3
4
break
end while

### ex-18

In [ ]:
n = int(input("숫자 : "))

count = 0
while n > 0:
  print("현재 숫자 : ", n)
  n -= 1
  count += 1

print(n, count)

숫자 : 5
현재 숫자 :  5
현재 숫자 :  4
현재 숫자 :  3
현재 숫자 :  2
현재 숫자 :  1
0 5


### ex-23

In [ ]:
password = '1234'

while True:
  user_pw = input('패스워드 : ')

  if user_pw == password:
    print("로그인 성공")
    break
  else:
    print("로그인 실패, 다시 입력하세요.")

패스워드 : 12
로그인 실패, 다시 입력하세요.
패스워드 : 1234
로그인 성공

### for

In [ ]:
for i in range(5): # start : 0(default), end : 5
  print(i, 'python')

0 python
1 python
2 python
3 python
4 python

In [ ]:
for i in range(1,5): # start : 1(default), end : 5
  print(i, 'python')

1 python
2 python
3 python
4 python

In [ ]:
for i in range(1,10, 2): # 2씩 증가
  print(i, 'python')

1 python
3 python
5 python
7 python
9 python

### ex-20

In [ ]:
for i in range (3, 100, 3):
  print(i, end= ' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [ ]:
j = 0
for i in range(33):
  j = j + 3
  print(j, end = ' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [ ]:
for i in range(1, 100):
  if i % 3 == 0:
    print(i, end = ' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

### ex-21

In [ ]:
n = int(input("단수를 입력하세요."))

for i in range (1, 10):
    print(f"{n} x {i} = {n*i}")

단수를 입력하세요.5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

### ex-24

In [ ]:
password = '1234'

for i in range(5):
  user_pw = input('패스워드 : ')

  if user_pw == password:
    print("로그인 성공")
    break
  else:
    print("로그인 실패, 다시 입력하세요.")
# 가능한 케이스: (i < 4, 성공), (i == 4, 성공), (i == 4 실패)

패스워드 : 12
로그인 실패, 다시 입력하세요.
패스워드 : 32
로그인 실패, 다시 입력하세요.
패스워드 : 142
로그인 실패, 다시 입력하세요.
패스워드 : 123
로그인 실패, 다시 입력하세요.
패스워드 : 3
로그인 실패, 다시 입력하세요.

In [ ]:
password = '1234'

success = False
for i in range(5):
  # 잠금 기록이 있는지 확인
  user_pw = input('패스워드 : ')

  if user_pw == password:
    print("로그인 성공")
    success = True
    break
  else:
    print("로그인 실패, 다시 입력하세요.")

# 가능한 케이스: (i < 4, 성공), (i == 4, 성공), (i == 4 실패)
if not success and i == 4:
  print("로그인 시도 횟수 초과")

  # 아이디 잠금, 잠금 시간 기록

패스워드 : 1
로그인 실패, 다시 입력하세요.
패스워드 : 3
로그인 실패, 다시 입력하세요.
패스워드 : 132
로그인 실패, 다시 입력하세요.
패스워드 : 142
로그인 실패, 다시 입력하세요.
패스워드 : 342
로그인 실패, 다시 입력하세요.
로그인 시도 횟수 초과

### 다중 반복

In [ ]:
for i in range(5):
  for j in range(5):
    print(i, j, end = "   ")
  print(end = "\n")

0 0   0 1   0 2   0 3   0 4
1 0   1 1   1 2   1 3   1 4
2 0   2 1   2 2   2 3   2 4
3 0   3 1   3 2   3 3   3 4
4 0   4 1   4 2   4 3   4 4

### ex-27

In [ ]:
for i in range(2,10):
  for j in range(2,10):
    print(f"{j} x {i} = {i * j:>2}", end = '   ')
  print(end = "\n")

2 x 2 =  4   3 x 2 =  6   4 x 2 =  8   5 x 2 = 10   6 x 2 = 12   7 x 2 = 14   8 x 2 = 16   9 x 2 = 18
2 x 3 =  6   3 x 3 =  9   4 x 3 = 12   5 x 3 = 15   6 x 3 = 18   7 x 3 = 21   8 x 3 = 24   9 x 3 = 27
2 x 4 =  8   3 x 4 = 12   4 x 4 = 16   5 x 4 = 20   6 x 4 = 24   7 x 4 = 28   8 x 4 = 32   9 x 4 = 36
2 x 5 = 10   3 x 5 = 15   4 x 5 = 20   5 x 5 = 25   6 x 5 = 30   7 x 5 = 35   8 x 5 = 40   9 x 5 = 45
2 x 6 = 12   3 x 6 = 18   4 x 6 = 24   5 x 6 = 30   6 x 6 = 36   7 x 6 = 42   8 x 6 = 48   9 x 6 = 54
2 x 7 = 14   3 x 7 = 21   4 x 7 = 28   5 x 7 = 35   6 x 7 = 42   7 x 7 = 49   8 x 7 = 56   9 x 7 = 63
2 x 8 = 16   3 x 8 = 24   4 x 8 = 32   5 x 8 = 40   6 x 8 = 48   7 x 8 = 56   8 x 8 = 64   9 x 8 = 72
2 x 9 = 18   3 x 9 = 27   4 x 9 = 36   5 x 9 = 45   6 x 9 = 54   7 x 9 = 63   8 x 9 = 72   9 x 9 = 81

### 시퀀스로써의 문자

In [ ]:
s = "python"

len(s), s[3]

(6, 'h')

In [ ]:
#    012345
s = "python"

len(s), s[3], s[6] # 범위가 맞지 앉는다.

IndexError: string index out of range

### tuple

In [ ]:
zoo = ('python', 'elephant', 'penguin')
type(zoo), len(zoo), zoo[0]

(tuple, 3, 'python')

In [ ]:
# 항목 하나짜리 튜플
singlenton = (3,) # == 3 3을 먼저 계산하라 느낌
type(singlenton)

tuple

In [ ]:
# 패킹과 언패킹
number = 1,2,3 # 패킹
print(number)

a,b,c = number # 언패킹
print(a,b,c)

(1, 2, 3)

In [ ]:
# 튜플은 불변
zoo[0] = 'anaconda'

TypeError: 'tuple' object does not support item assignment

### list

In [ ]:
shoplist = ['apple', 'mango', 'carrot', 'banana']
print(type(shoplist), len(shoplist), shoplist[0])

shoplist[0] = 'lego'
shoplist

<class 'list'> 4 apple

['lego', 'mango', 'carrot', 'banana']

In [ ]:
shoplist.append('rice')
shoplist

['lego', 'mango', 'carrot', 'banana', 'rice']

In [ ]:
del shoplist[1]
shoplist

['lego', 'carrot', 'banana', 'rice']

### ex-28

In [ ]:
teams = ['랜더스', '자이언츠', '트윈스',
         '다이노스','베어스', '타이거즈',
         '히어로즈', '라이온즈', '이글스', '위즈']
for i in range(len(teams)):
  print(f'{i+1:>2}위: {teams[i]}')

print("-"*20)

for team in teams:
  print(team)

print("-"*20)

for i,team in enumerate(teams):
  print(f'{i+1:>2}위: {teams[i]}')

 1위: 랜더스
 2위: 자이언츠
 3위: 트윈스
 4위: 다이노스
 5위: 베어스
 6위: 타이거즈
 7위: 히어로즈
 8위: 라이온즈
 9위: 이글스
10위: 위즈
--------------------
랜더스
자이언츠
트윈스
다이노스
베어스
타이거즈
히어로즈
라이온즈
이글스
위즈
--------------------
 1위: 랜더스
 2위: 자이언츠
 3위: 트윈스
 4위: 다이노스
 5위: 베어스
 6위: 타이거즈
 7위: 히어로즈
 8위: 라이온즈
 9위: 이글스
10위: 위즈

In [ ]:
for c in "python":
  print(c)

p
y
t
h
o
n

### ex-30

In [ ]:
#         국어   수학 영어
jisoo =   [90,  85,  93]
mansoo =  [78,  92,  89]

# 아래 두 가지 방식 중 한 가지 방식을 통해 작성
# for i in range(len(teams)): <-----------------
#   print(f'{i+1:>2}위: {teams[i]}')

# for i,team in enumerate(teams):
#   print(f'{i+1:>2}위: {teams[i]}')

score = []
for i in range(len(jisoo)):
  score.append(jisoo[i] + mansoo[i])

score

[168, 177, 182]

### 슬라이싱

In [ ]:
#     0  1  2  3  4  5  6  7
L = [ 1, 2, 3, 4, 5, 6, 7, 8]
#    -8 -7 -6 -5 -4 -3 -2 -1

# 인덱싱
print(L[0])

# 음수 인덱스
L[-1], L[-2]

1

(8, 7)

In [ ]:
# 슬라이싱 : start:end:stride
L[2:6], L[:6], L[2:]

([3, 4, 5, 6], [1, 2, 3, 4, 5, 6], [3, 4, 5, 6, 7, 8])

In [ ]:
# 슬라이싱 음수 인덱스
L[-2:]

[7, 8]

In [ ]:
# stride
L[1:6:2]

[2, 4, 6]

In [ ]:
L[::-1]

[8, 7, 6, 5, 4, 3, 2, 1]

### ex-31

In [ ]:
nums = [10, 4, 5, -1, 6, 12, 40]

for i in nums[1::2]:
  print(i)

4
-1
12

In [ ]:
nums = [10, 4, 5, -1, 6, 12, 40, 45, 65]

# 아래 두 가지 방식 중 한 가지 방식을 통해 작성
# for i in range(len(teams)):
#   print(f'{i+1:>2}위: {teams[i]}')

# for i,team in enumerate(teams): <-----------------
#   print(f'{i+1:>2}위: {teams[i]}')

s = 0
for i in nums[1::2]:
  print(i)
  s = s + i
print("-"*5)
s

4
-1
12
45
-----

60

### 리스트의 중첩

In [ ]:
L1 = [1, [100,200,('FOO', 'BAR')], 'foo', 3]

In [ ]:
len(L1), L1[0]

(4, 1)

In [ ]:
L2 = L1[1]
L2

[100, 200, ('FOO', 'BAR')]

In [ ]:
L2[1]

200

In [ ]:
L1[1][1]

200

In [ ]:
L1[1][2][1]

'BAR'

### ex-32

In [ ]:
A = [[1,0,1],
     [0,2,0],
     [1,2,1],
     [1,2,1]]

B = [[2,3,1],
     [0,1,1],
     [1,1,1],
     [1,1,1]]

C = [[0,0,0],
     [0,0,0],
     [0,0,0],
     [0,0,0]]

# A + B => C
for i in range(len(A)):
    for j in range(len(A[i])):
        C[i][j] = A[i][j]+B[i][j]

print(C)

[[3, 3, 2], [0, 3, 1], [2, 3, 2], [2, 3, 2]]

### ex-33

In [ ]:
A = [[1,0,1],
     [0,2,0],
     [1,2,1],
     ]

B = [[2,3,1],
     [0,1,1],
     [1,1,1],
     ]

C = [[0,0,0],
     [0,0,0],
     [0,0,0],
     ]

# AxB -> C
for i in range(len(A)):
     for j in range(len(B[0])):
          for k in range(len(A[0])):
               C[i][j] += A[i][k]*B[k][j]

print(C)

[[3, 4, 2], [0, 2, 2], [3, 6, 4]]

### 사전

In [ ]:
en2ko = {
#    key : value
    'book': '책',
    'snake': '뱀',
    'language': '언어'
}
en2ko

{'book': '책', 'snake': '뱀', 'language': '언어'}

In [ ]:
en2ko['book']

'책'

In [ ]:
en2ko['mouse'] = '쥐, 입력장치'
# == en2ko['mouse'] = ['쥐, 입력장치']
en2ko

{'book': '책', 'snake': '뱀', 'language': '언어', 'mouse': '쥐, 입력장치'}

In [ ]:
en2ko['mouse']

'쥐, 입력장치'

In [ ]:
en2ko['책']

KeyError: '책'

### ex-34

In [ ]:
en2ko = {
#    key : value
    'book': '책',
    'snake': '뱀',
    'language': '언어'
}

ko2en = {}

for k, v in en2ko.items():
  ko2en[v] = k

ko2en

{'책': 'book', '뱀': 'snake', '언어': 'language'}

# 내포(comprehension)

In [ ]:
c = int(input())

L = []

for i in range(1, c+1):
  L.append(i)

L

10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
c = int(input())

L = [i for i in range(1, c+1)]

L

10

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 함수

In [ ]:
# 함수 정의하기
def dummy(): # <-- 입력 변수가 없는 함수
  print("hello") # 들여쓰기한 부분은 함수의 body

# 정의된 함수 작동시키기
dummy()

hello

In [ ]:
dummy()

hello

In [ ]:
def hello(name):
  print(f"hello, {name}")

hello('python')

hello, python

In [ ]:
hello('deep learning')

hello, deep learning

### ex-38

In [ ]:
def mean(L):
  print(L)

mean([1, 2, 3, 4])

[1, 2, 3, 4]

In [ ]:
def mean(L):
  n = len(L)
  print(n)

mean([1, 2, 3, 4, 5, 6, 7, 8])

8

In [ ]:
def mean(L):
  n = len(L)

  s = 0
  for x in L:
    s += x
    print(s, end = ' ')

  print(end = '\n\n')

  m = s / n
  print(m)

mean([1, 2, 3, 4, 5, 6, 7, 8, 9])

1 3 6 10 15 21 28 36 45

5.0

In [ ]:
def mean(L):
  n = len(L)

  s = 0
  for x in L:
    s += x

  m = s / n

  return m

avg = mean([1.2, 3.4, 1.1, 10.2, 10])
avg

5.18

In [ ]:
avg = mean([100, 200])
avg

150.0