<a href="https://colab.research.google.com/github/student-rabbit/advancedDataPractice/blob/main/python_code_Day01_night.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### while

In [1]:
i = 0
while i <10:
  print(i)
  i += 1

print('end while')

0
1
2
3
4
5
6
7
8
9
end while

In [2]:
i = 0
while i <10:
  print(i)
  i += 1

  if i == 5:
    print('break')
    break # 반복 블록 안에서 반복 실행을 강제로 탈출

print('end while')

0
1
2
3
4
break
end while

### ex-18

In [4]:
n = int(input("숫자 : "))

count = 0
while n > 0:
  print("현재 숫자 : ", n)
  n -= 1
  count += 1

print(n, count)

숫자 : 5
현재 숫자 :  5
현재 숫자 :  4
현재 숫자 :  3
현재 숫자 :  2
현재 숫자 :  1
0 5


### ex-23

In [6]:
password = '1234'

while True:
  user_pw = input('패스워드 : ')

  if user_pw == password:
    print("로그인 성공")
    break
  else:
    print("로그인 실패, 다시 입력하세요.")

패스워드 : 12
로그인 실패, 다시 입력하세요.
패스워드 : 1234
로그인 성공

### for

In [8]:
for i in range(5): # start : 0(default), end : 5
  print(i, 'python')

0 python
1 python
2 python
3 python
4 python

In [9]:
for i in range(1,5): # start : 1(default), end : 5
  print(i, 'python')

1 python
2 python
3 python
4 python

In [10]:
for i in range(1,10, 2): # 2씩 증
  print(i, 'python')

1 python
3 python
5 python
7 python
9 python

### ex-20

In [12]:
for i in range (3, 100, 3):
  print(i, end= ' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [16]:
j = 0
for i in range(33):
  j = j + 3
  print(j, end = ' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

In [15]:
for i in range(1, 100):
  if i % 3 == 0:
    print(i, end = ' ')

3 6 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 81 84 87 90 93 96 99

### ex-21

In [20]:
n = int(input("단수를 입력하세요."))

for i in range (1, 10):
    print(f"{n} x {i} = {n*i}")

단수를 입력하세요.5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

### ex-24

In [28]:
password = '1234'

for i in range(5):
  user_pw = input('패스워드 : ')

  if user_pw == password:
    print("로그인 성공")
    break
  else:
    print("로그인 실패, 다시 입력하세요.")
# 가능한 케이스: (i < 4, 성공), (i == 4, 성공), (i == 4 실패)

패스워드 : 12
로그인 실패, 다시 입력하세요.
패스워드 : 32
로그인 실패, 다시 입력하세요.
패스워드 : 142
로그인 실패, 다시 입력하세요.
패스워드 : 123
로그인 실패, 다시 입력하세요.
패스워드 : 3
로그인 실패, 다시 입력하세요.

In [29]:
password = '1234'

success = False
for i in range(5):
  user_pw = input('패스워드 : ')

  if user_pw == password:
    print("로그인 성공")
    success = True
    break
  else:
    print("로그인 실패, 다시 입력하세요.")
# 가능한 케이스: (i < 4, 성공), (i == 4, 성공), (i == 4 실패)
if not success and i == 4:
  print("로그인 시도 횟수 초과")

  # 아이디 잠금, 잠금 시간 기록

패스워드 : 1
로그인 실패, 다시 입력하세요.
패스워드 : 3
로그인 실패, 다시 입력하세요.
패스워드 : 132
로그인 실패, 다시 입력하세요.
패스워드 : 142
로그인 실패, 다시 입력하세요.
패스워드 : 342
로그인 실패, 다시 입력하세요.
로그인 시도 횟수 초과

### 다중 반복

In [38]:
for i in range(5):
  for j in range(5):
    print(i, j, end = "   ")
  print(end = "\n")

0 0   0 1   0 2   0 3   0 4
1 0   1 1   1 2   1 3   1 4
2 0   2 1   2 2   2 3   2 4
3 0   3 1   3 2   3 3   3 4
4 0   4 1   4 2   4 3   4 4

### ex-27

In [44]:
for i in range(2,10):
  for j in range(2,10):
    print(f"{j} x {i} = {i * j:>2}", end = '   ')
  print(end = "\n")

2 x 2 =  4   3 x 2 =  6   4 x 2 =  8   5 x 2 = 10   6 x 2 = 12   7 x 2 = 14   8 x 2 = 16   9 x 2 = 18
2 x 3 =  6   3 x 3 =  9   4 x 3 = 12   5 x 3 = 15   6 x 3 = 18   7 x 3 = 21   8 x 3 = 24   9 x 3 = 27
2 x 4 =  8   3 x 4 = 12   4 x 4 = 16   5 x 4 = 20   6 x 4 = 24   7 x 4 = 28   8 x 4 = 32   9 x 4 = 36
2 x 5 = 10   3 x 5 = 15   4 x 5 = 20   5 x 5 = 25   6 x 5 = 30   7 x 5 = 35   8 x 5 = 40   9 x 5 = 45
2 x 6 = 12   3 x 6 = 18   4 x 6 = 24   5 x 6 = 30   6 x 6 = 36   7 x 6 = 42   8 x 6 = 48   9 x 6 = 54
2 x 7 = 14   3 x 7 = 21   4 x 7 = 28   5 x 7 = 35   6 x 7 = 42   7 x 7 = 49   8 x 7 = 56   9 x 7 = 63
2 x 8 = 16   3 x 8 = 24   4 x 8 = 32   5 x 8 = 40   6 x 8 = 48   7 x 8 = 56   8 x 8 = 64   9 x 8 = 72
2 x 9 = 18   3 x 9 = 27   4 x 9 = 36   5 x 9 = 45   6 x 9 = 54   7 x 9 = 63   8 x 9 = 72   9 x 9 = 81

### 시퀀스로써의 문자

In [45]:
s = "python"

len(s), s[3]

(6, 'h')

### tuple

In [46]:
zoo = ('python', 'elephant', 'penguin')
type(zoo), len(zoo), zoo[0]

(tuple, 3, 'python')

In [47]:
# 항목 하나짜리 튜플
singlenton = (3,) # == 3 3을 먼저 계산하라 느낌
type(singlenton)

tuple

In [48]:
# 패킹과 언패킹
number = 1,2,3
print(number)

a,b,c = number
print(a,b,c)

(1, 2, 3)

In [49]:
# 튜플은 불변
zoo[0] = 'anaconda'

TypeError: 'tuple' object does not support item assignment